@import '../variables';

.categories {
	ul {
		display: flex;

		li {
			padding: 22px 0;
			border-radius: 30px;
			margin-right: 20px;
			cursor: pointer;
			transition: background-color 0.1s ease-in-out;
			@include noselect();

			&:hover {
				color: #fe5f1e;
			}

			&:active {
				color: #fe5f1e;
			}

			&.active {
				color: #fe5f1e;
			}
		}
	}
}
